.background{
    background-color: rgb(255, 255, 255);
    color : rgb(12, 12, 12);
    font-family: "Calibri";
    
}

.container{
     box-shadow: 5rem;
     min-height: 350px;
}

.header{
      font-size: 1.875rem;
}

  